* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("./images/nature-background.jpg");
}
.form {
  margin: 10px;
}
.label {
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  color:rgb(37, 37, 37);
  font-family: Cambria, sans-serif;
}
#cityfield {
  border-width: 3px;
  border-color: rgb(196, 214, 245, 0.5);
  color:rgb(37, 37, 37);
  font-weight: bold;
  border-radius: 25px;
  padding: 4px;
  font-family: Cambria, sans-serif;
}

#submitcity {
  padding: 4px;
  border-radius: 25px;
  color:rgb(37, 37, 37);
  font-weight: bold;
  font-family: Cambria, sans-serif;
}
#card {
  /* display: flex;
  flex: column;
  flex-wrap: wrap; */
  width: 95%;
  padding-top: 10px;
}
.daily-card {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  list-style-type: none;
  border-style:none;
  border-radius: 25px;
  margin: 10px;
  margin: auto;
  margin-bottom: 10px;
  background: rgb(196, 214, 245, 0.8);
  font-weight: bold;
  color: rgb(37, 37, 37);
  font-family: Cambria, sans-serif;
}

#card-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.icon {
  width: 60px;
  height: 60px;
}
.day {
  padding-right: 8px;
}
.temp {
  line-height: 30px;
}
#card-body {
  display: flex;
  flex-direction: column;

  padding-left: 8px;
  padding-bottom: 20px;
}

@media only screen and (min-width: 283px){
  #card {
    display: flex;
    flex: row;
    flex-wrap: wrap;
    width: 95%;
    padding-top: 10px;
    margin: auto;
  } 
  .daily-card {
    margin-left: 0px;
  }
}
@media only screen and (min-width: 420px){
  .form {
    width: 80%;
    margin: auto;
  }
  #card {
    display: flex;
    flex-direction: row;
    width: 80%;
    flex-wrap: wrap;
  }

.daily-card {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    list-style-type: none;
    border-style: solid;
    border-radius: 25px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-style: none;
    margin-left: 0px;
  }
  .icon {
    width: 80px;
    height: 80px;
  }
}

